{% extends 'base.html' %}

{% block content1 %}
<h2>Here is what we found about {{ movie_dict['results'][0]['title'] }}:</h2>
	<h3>Description:</h3> {{ movie_dict['results'][0]['overview'] }} <br>
	<h3>Popularity:</h3> {{ movie_dict['results'][0]['popularity'] }} <br>
	<h3>Release Date:</h3> {{ movie_dict['results'][0]['release_date'] }}
</form>
<br> <br><br>

{% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
{% endfor %}

Unfortunately, sometimes there may be multiple films with the same title. This was the most popular film given the title you imput. I am sorry if this is not the film you were looking for!

{% endblock %}
