{% extends 'base.html' %}

{% block content1 %}
<form method="POST">
Here is the watchlist for {{ name }}: <br><br>

{% if movie_len == 0 %}
It appears you dont have any movies saved. <a href="{{ url_for('watchlist') }}"> Add a movie to your Watchlist here! </a>
{% endif %}

{% for movie in all_movies %}
	{% if movie[1] == user_id %}
	<li> {{ movie[0] }} </li>

{% endif %}
{% endfor %}

{% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
{% endfor %}


</form>
{% endblock %}